
div .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div .image {
	padding: 5px;
	cursor: hand;
}

a:hover {
	text-decoration:underline;
}

a {
	color:#545454;
	text-decoration:none;
    font-weight: bold;
    display: inline-block;
}

div.top-menu {
    position: fixed;
    top: 0px;
    left: 0px;
	background-color: #333;
	margin: 0px;
	padding: 0px;
    z-index: 999;
    width: 100%;
    height: auto;
}

div.top-menu .media-movies {
	background-color: #0068af;
}

div.top-menu .media-images {
	background-color: #af1e00;
}

div.top-menu .days {
	background-color: #333;
}

div.top-menu table {
    position: obsolute;
	margin: 0px;
	padding: 0px;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

div.top-menu a {
	color:#FFF;
	padding: 10px;
}

div.image img {
	width: 160px;
	
}

/*
div.top-menu ul li {
    float: left;
}
*/


/*
swiper
*/

.swiper-container{
	text-align: center;
	width: auto;
	height: auto;
}
.swiper-container .swiper-slide img{
	width: 100%;
	height: auto;
}
.swiper-container .swiper-slide {
	height: auto;
}
.swiper-container .swiper-wrapper {
	width: auto;
	height: auto;
}

.swiper-slide video {
	width: 960px;
}

/*
button
*/

.square-btn{
    position: relative;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    cursor: hand;
    margin: 0.25em
  }

.star-btn {
	cursor: hand;
}

.star-icon-checked {
	font-weight: bold;
	font-size: 200%;
    color: #FFE200;
}

.star-icon-unchecked {
	font-weight: bold;
	font-size: 200%;
    color: #FFE200;
}

/*
.square_btn_backup{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
    cursor: hand;
    margin: 0.25em
  }
*/

.square_btn:hover {
    background: #00bcd4;
    color: white;
}
