<html>
<head>
{% block head_define %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="../../../static/css/default.css?p={{datetime}}">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block head_script %}
<script>

// const request = new XMLHttpRequest();
$.put = function(url, data, callback, type){
  if ( $.isFunction(data) ){
    type = type || callback,
    callback = data,
    data = {}
  }
 
  return $.ajax({
    url: url,
    type: 'PUT',
    success: callback,
    data: data,
    contentType: type
  });
}

function showInfoDialog(url) {

	$.get(url).done(function(data) {
	    var p = $("#dialog p")
	    p.text(data.ISOSpeedRatings);
	    $( function() {
	        $("#dialog").dialog({
	        	  modal: true,
	        	  position: { my: "center", at: "center", of: $(".swiper-container") },
	        });
	      } );
	});

}

$(function(){	
	var swiper = new Swiper('.swiper-container', {
	    preloadImages: false,
	    // Enable lazy loading
	    lazyLoading: true,
	    nextButton: '.swiper-button-next',
	    prevButton: '.swiper-button-prev',
	});
	
	 $('.btn[data-index]').on('click', function () {
		 swiper.slideTo($(this).data('index'));
		 var position = $("#swiper-top").offset().top;
		 $("html,body").animate({
			    scrollTop : position
			}, {
			    queue : false
			});
	});
	
	 $('.square-btn[data-exif_info]').on('click', function () {
		showInfoDialog($(this).data('exif_info'));
	});
	 
	 $('.star-btn').on('click', function () {
		 var checkedIcon = $(this).children('.star-icon-checked');
		 checkedIcon.toggle();
		 $(this).children('.star-icon-unchecked').toggle();
		 
		 var checkedFlag = checkedIcon.is(':visible');
		 var parent = $(this).parent().parent();
		 var dataname = parent.attr("dataname");
		 $.put("./" + dataname + "/", {"favorite": checkedFlag});
		 
		 $('#thumbnail_' + dataname).children('.btn').children('.star-icon-thumbnail').toggle();
		 
	});
	 

});
</script>
{% endblock %}

</head>
<body>

{% block head_menu %}
<div class="top-menu">
<table class="media-{{media_type}}">
<tr>
<td style="text-align: center">
<a href="../{{inverse_media_type}}">{{current_days.current}} {{media_type|upper}}</a>
</td>
</tr>
</table>

<table class="days">
<tr>
<td>
	{% if current_days.prev %}
	<a href="../../{{ current_days.prev }}/{{ media_type }}">PREV_DAY</a>
	{% else %}
	<a href="./">PREV_DAY</a>
	{% endif %}
</td>
<td style="text-align: center">
	<a href="/">HOME</a>
</td>
<td style="text-align: right">
	{% if current_days.next %}
	<a href="../../{{ current_days.next }}/{{ media_type }}">NEXT_DAY</a>
	{% else %}
	<a href="./">NEXT_DAY</a>
	{% endif %}
</td>
</tr>
</table>
</div>
<br/>
<br/>
<br/>
<hr/>
{% endblock %}

{% block contents %}
nodata
{% endblock %}

</body>
</html>