{% extends "base_index.html"%}

{% block contents %}
<!-- Slider main container -->
<div class="swiper-container" id="swiper-top">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
	{% for data in data_list %}
		{%- set main = data.main -%}
		{%- set fav = data.fav -%}
		{%- set arw = main.web.arw -%}
		{%- set thumbnail = main.web.thumbnail -%}
		{%- set jpg = main.web.jpg -%}
		{%- set jpg_medium = main.web.jpg_medium -%}
		{%- set exif_info = main.web.exif_info -%}
		<div class="swiper-slide" dataname="{{ main.name }}">
			<h3>{{ main.name }}</h3>
			<div>
				<img data-src="{{ main.path }}{{ jpg_medium.path }}{{ jpg_medium.download_filename }}" class="swiper-lazy">
            <div class="swiper-lazy-preloader"></div>
            <div class="star-btn">
            	{%- if fav.favorite == "true" -%}
           		<div class="star-icon-checked" >&#x2605;</div><div class="star-icon-unchecked" style="display: none">&#x2606;</div>
            	{%- else -%}
            	<div class="star-icon-checked" style="display: none">&#x2605;</div><div class="star-icon-unchecked">&#x2606;</div>
             	{%- endif -%}
            </div>
            </div>
			<div>
				<a href="{{ main.path }}{{ arw.path }}{{ arw.download_filename }}" class="square-btn">DOWNLOAD RAW {{ arw.download_size }}</a>
			</div>
			<div>
				<a class="square-btn" data-exif_info="{{ main.path }}{{ exif_info.path }}{{ exif_info.download_filename }}">EXIF INFO</a>
			</div>
		</div>
	{% endfor %}
    </div>
<div class="swiper-pagination"></div>

<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>
</div>

<hr>
<div>
	<a class="square-btn" href="./jpg.zip">DOWNLOAD ALL</a>
</div>
<div>
    <!-- Additional required wrapper -->
    <div class="wrapper">
	{% for data in data_list %}
		{%- set main = data.main -%}
		{%- set fav = data.fav -%}
		{%- set arw = main.web.arw -%}
		{%- set thumbnail = main.web.thumbnail -%}
		{%- set jpg = main.web.jpg -%}
		{%- set exif_info = main.web.exif_info -%}
		<div class="thumbnail-image" id="thumbnail_{{ main.name }}">
			<p>{{ main.name }}</p>
			<div class="btn" data-index="{{ loop.index0 }}">
				<img src="{{ main.path }}{{ thumbnail.path }}{{ thumbnail.download_filename }}" />
            	{%- if fav.favorite == "true" -%}
					{%- set favorite_display = "" -%}
				{%- else -%}
					{%- set favorite_display = "display: none" -%}
            	{%- endif -%}
           		<div class="star-icon-thumbnail" style="{{favorite_display}}">&#x2605;</div>

			</div>
		</div>
	{% endfor %}
    </div>
</div>

<div id="dialog" title="exif">
  <p></p>
</div>

{% endblock %}
