{% extends "base_index.html"%}

{% block contents %}
<!-- Slider main container -->
<div class="swiper-container" id="swiper-top">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
	{% for data in data_list %}
		{%- set main = data -%}
		{%- set fav = data.fav -%}
		{%- set access = data.access -%}
		{%- set arw = main.web.arw -%}
		{%- set thumbnail = main.web.thumbnail -%}
		{%- set jpg = main.web.jpg -%}
		{%- set jpg_medium = main.web.jpg_medium -%}
		{%- set exif_info = main.web.exif_info -%}
		<div class="swiper-slide" dataname="{{ main.name }}">
			<h3>{{ main.name }}</h3>
			<div class="swiper">
				<img data-src="{{ main.path }}{{ jpg_medium.path }}{{ jpg_medium.download_filename }}?{{query_string}}" class="swiper-lazy">
	            <div class="swiper-lazy-preloader"></div>
	            <div class="star-btn">
	            	{%- if fav.favorite == "true" -%}
						{%- set checked_display = "" -%}
						{%- set unchecked_display = "display: none" -%}
					{%- else -%}
						{%- set checked_display = "display: none" -%}
						{%- set unchecked_display = "" -%}
	            	{%- endif -%}
	           		<div class="star-icon-checked" style="{{checked_display}}">&#x2605;</div><div class="star-icon-unchecked" style="{{unchecked_display}}">&#x2606;</div>
	            </div>
	            <div class="access-btn">
	            	{%- if access.users == "true" -%}
						{%- set checked_display = "" -%}
						{%- set unchecked_display = "display: none" -%}
					{%- else -%}
						{%- set checked_display = "display: none" -%}
						{%- set unchecked_display = "" -%}
	            	{%- endif -%}
	            	{%- if user != "admin" -%}
						{%- set checked_display = "display: none" -%}
						{%- set unchecked_display = "display: none" -%}
	            	{%- endif -%}
	           		<div class="access-icon-checked" style="{{checked_display}}">DENY</div><div class="access-icon-unchecked" style="{{unchecked_display}}">EVERYONE</div>
	            </div>
            </div>
			<div>
				<a href="{{ main.path }}{{ arw.path }}{{ arw.download_filename }}?{{query_string}}" class="square-btn">DOWNLOAD RAW {{ arw.download_size }}</a>
			</div>
			<div>
				<a class="square-btn" data-exif_info="{{ main.path }}{{ exif_info.path }}{{ exif_info.download_filename }}?{{query_string}}">EXIF INFO</a>
			</div>
		</div>
	{% endfor %}
    </div>
<div class="swiper-pagination"></div>

<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>
</div>

<hr>
<div>
	<a class="square-btn" href="./jpg.zip">DOWNLOAD JPEG ALL</a>
	<a class="square-btn" href="./arw.zip">DOWNLOAD RAW ALL</a>
</div>
<div>
    <!-- Additional required wrapper -->
    <div class="wrapper">
	{% for data in data_list %}
		{%- set main = data -%}
		{%- set fav = data.fav -%}
		{%- set access = data.access -%}
		{%- set arw = main.web.arw -%}
		{%- set thumbnail = main.web.thumbnail -%}
		{%- set jpg = main.web.jpg -%}
		{%- set exif_info = main.web.exif_info -%}
		<div class="thumbnail-image" id="thumbnail_{{ main.name }}">
			<p>{{ main.name }}</p>
			<div class="btn" data-index="{{ loop.index0 }}">

				<img src="{{ main.path }}{{ thumbnail.path }}{{ thumbnail.download_filename }}?{{query_string}}" />
				<div class="icon-thumbnail">
            	{%- if fav.favorite == "true" -%}
					{%- set display = "" -%}
				{%- else -%}
					{%- set display = "display: none" -%}
            	{%- endif -%}
           		<div class="star-icon-thumbnail" style="{{display}}">&#x2605;</div>
           		
            	{%- if access.users == "true" -%}
					{%- set display = "" -%}
				{%- else -%}
					{%- set display = "display: none" -%}
            	{%- endif -%}
           		<div class="access-icon-thumbnail" style="{{display}}">D</div>
           		</div>
			</div>
		</div>
	{% endfor %}
    </div>
</div>

<div id="dialog" title="exif">
  <p></p>
</div>

{% endblock %}
