<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="../../../static/css/default.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css">

<style>

	.swiper-container{
		text-align: center;
		width: auto;
		height: auto;
	}
	.swiper-container .swiper-slide img{
		width: 100%;
		height: auto;
	}
	.swiper-container .swiper-slide {
		height: auto;
	}
	.swiper-container .swiper-wrapper {
		width: auto;
		height: auto;
	}
	

</style>

</head>
<body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script>

const request = new XMLHttpRequest();

function showInfoDialog(url) {
	request.open("GET", url);
	request.addEventListener("load", (event) => {
	    if (event.target.status !== 200) {
	        console.log("success");
	        return;
	    }
	    console.log(event.target.status);
	    var object = window.JSON.parse(event.target.responseText);
	    console.log(object);
	    
	    var p = $( "#dialog p" )
	    p.text(object.ISOSpeedRatings);
	    $( function() {
	        $( "#dialog" ).dialog();
	      } );
	    
	});
	request.send();
}

$(function(){	
	var swiper = new Swiper('.swiper-container', {
	    preloadImages: false,
	    // Enable lazy loading
	    lazyLoading: true
	});
	
	 $('.btn[data-index]').on('click', function () {
		 swiper.slideTo($(this).data('index'));
	});
	
	 $('.btn[data-exif_info]').on('click', function () {
		showInfoDialog($(this).data('exif_info'));
	});

});


</script>


<a href="../">back</a>
<hr>
{% if prev %}
<a href="../../{{ prev }}/images">prev</a>
{% endif %}
{% if next %}
<a href="../../{{ next }}/images">next</a>
{% endif %}

<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
	{% for data in data_list %}
		{% set arw = data.web.arw %}
		{% set thumbnail = data.web.thumbnail %}
		{% set jpg = data.web.jpg %}
		{% set exif_info = data.web.exif_info %}
		<div class="swiper-slide">
			<h3>{{ data.name }}</h3>
			<div>
			<img data-src="{{ data.path }}{{ jpg.path }}{{ jpg.download_filename }}" class="swiper-lazy">
            <div class="swiper-lazy-preloader"></div>
            </div>

			<div>
				<a href="{{ data.path }}{{ arw.path }}{{ arw.download_filename }}">download_{{ arw.name }}</a> - {{ arw.download_size }}
			</div>
			<div>
				<div class="btn" data-exif_info="{{ data.path }}{{ exif_info.path }}{{ exif_info.download_filename }}">{{ exif_info.name }}</div>
			</div>
		</div>
	{% endfor %}
    </div>
<div class="swiper-pagination"></div>

<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>
</div>

<hr>
<div>
    <!-- Additional required wrapper -->
    <div class="wrapper">
	{% for data in data_list %}
		{% set arw = data.web.arw %}
		{% set thumbnail = data.web.thumbnail %}
		{% set jpg = data.web.jpg %}
		{% set exif_info = data.web.exif_info %}
		<div class="image">
			<p>{{ data.name }}</p>
			<div class="btn" data-index="{{ loop.index0 }}">
				<img src="{{ data.path }}{{ thumbnail.path }}{{ thumbnail.download_filename }}" />
			</div>
		</div>
	{% endfor %}
    </div>
</div>
  <script>       
  </script>

<div id="dialog" title="exif">
  <p></p>
</div>
 

</body>
</html>