<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="../../../static/css/default.css?p={{datetime}}">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

const request = new XMLHttpRequest();

function showInfoDialog(url) {

	$.get(url).done(function(data) {
	    console.log(data);
	    var p = $("#dialog p")
	    p.text(data.ISOSpeedRatings);
	    $( function() {
	        $("#dialog").dialog({
	        	  modal: true,
	        	  position: { my: "center", at: "center", of: $(".swiper-container") },
	        });
	      } );
	});

}

$(function(){	
	var swiper = new Swiper('.swiper-container', {
	    preloadImages: false,
	    // Enable lazy loading
	    lazyLoading: true
	});
	
	 $('.btn[data-index]').on('click', function () {
		 swiper.slideTo($(this).data('index'));
		 var position = $("#swiper-top").offset().top;
		 $("html,body").animate({
			    scrollTop : position
			}, {
			    queue : false
			});
	});
	
	 $('.square_btn[data-exif_info]').on('click', function () {
		showInfoDialog($(this).data('exif_info'));
	});

});

</script>

</head>
<body>

<a href="../">back</a>
<hr>

{% if prev %}
<a href="../../{{ prev }}/movies">prev</a>
{% endif %}
{% if next %}
<a href="../../{{ next }}/movies">next</a>
{% endif %}

<div class="swiper-container">
	<div class="swiper-wrapper">
		{% for data in data_list %}
			{% set thumbnail = data.web.thumbnail %}
			{% set movie = data.web.movie %}
			{% set movie_small = data.web.movie_small %}
			<div class="swiper-slide">
			 	<h3>{{ data.name }}</h3>
 				<div><video controls poster="{{ data.path }}{{ thumbnail.path }}{{ thumbnail.download_filename }}" preload="none"><source src="{{ data.path }}{{ movie_small.path }}{{ movie_small.download_filename }}"/></video></div>

 				<div><a class="square_btn" href="{{ data.path }}{{ movie.path }}{{ movie.download_filename }}">DOWNLOAD ORIGINAL {{ movie.download_size }}</a></div>
 				<div><a class="square_btn" href="{{ data.path }}{{ movie_small.path }}{{ movie_small.download_filename }}">watch</a></div>

			</div>
		{% endfor %}
	</div>
</div>
</body>
</html>