<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<hr>
<a href="../">back</a>
<ul>
{% for data in data_list %}
  <li>
  	<h3>{{ data.name }}</h3>
  	<ul>
  	{% for child_data in data.children %}
  		{% if child_data.name == "movie" %}
  			<li><a href="{{ data.path }}{{ child_data.path }}{{ child_data.download_filename }}">download_{{ child_data.name }}</a> - {{ child_data.download_size }}</li>
  		{% endif %}
   		{% if child_data.name == "movie_small" %}
  			<li><a href="{{ data.path }}{{ child_data.path }}{{ child_data.download_filename }}">watch</a></li>
  			<li>
  				<video controls width="320"><source src="{{ data.path }}{{ child_data.path }}{{ child_data.download_filename }}" /></video>
			</li>
  		{% endif %}

  	{% endfor %}
	</ul>
  </li>
{% endfor %}
</body>
</html>