<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="../../../static/css/default.css">

</head>
<body>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<a href="../">back</a>
<hr>

{% if prev %}
<a href="../../{{ prev }}/movies">prev</a>
{% endif %}
{% if next %}
<a href="../../{{ next }}/movies">next</a>
{% endif %}

<div class="swiper-container">
	<div class="swiper-wrapper">
		{% for data in data_list %}
			{% set thumbnail = data.web.thumbnail %}
			{% set movie = data.web.movie %}
			{% set movie_small = data.web.movie_small %}
			<div class="swiper-slide">
			 	<h3>{{ data.name }}</h3>
			 	<ul>
	 				<li><a href="{{ data.path }}{{ movie.path }}{{ movie.download_filename }}">download_{{ movie.name }}</a> - {{ movie.download_size }}</li>
	 				<li><a href="{{ data.path }}{{ movie_small.path }}{{ movie_small.download_filename }}">watch</a></li>

	 				<li><video controls width="320" poster="{{ data.path }}{{ thumbnail.path }}{{ thumbnail.download_filename }}" preload="none"><source src="{{ data.path }}{{ movie_small.path }}{{ movie_small.download_filename }}"/></video></li>
	 			</ul>
			</div>
		{% endfor %}
	</div>
</div>
</body>
</html>